.home-box-geral {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // margin-left: 200px;
  // margin-top: 93px;
  .container-box {
    > img {
      align-items: center;
      width: 90%;
      margin-top: 30px;
    }

    > h1 {
      text-align: left;
      font: normal normal normal 36px/48px Segoe UI;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;

      margin-top: 30px;
      margin-bottom: 10px;
    }

    .atalhoDeAulas {
      display: flex;
      place-items: center;
      .items {
        display: flex;
        width: 800px;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
      }

      .item {
        cursor: pointer;
        transition: all ease;

        img {
          width: 249px;
          height: 140px;
          margin: 10px;
          object-fit: cover;
          transform: scale(0.9);
          transition: all ease 0.2s;
        }
        img:hover {
          transform: scale(1);
        }
      }
    }

    .lembretes {
      display: flex;
      margin-top: 10px;
      .container-atividade {
        display: flex;
        justify-content: center;
        float: left;
        width: 290px;
        height: 280px;

        background: #f8f8f8 0% 0% no-repeat padding-box;
        border-radius: 20px;
        opacity: 1;

        margin-top: 50px;
        margin-right: 80px;

        h1 {
          text-align: left;
          font: normal normal normal 22px/30px Segoe UI;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;

          margin-top: -35px;
          margin-bottom: 15px;
        }
        .atividades {
          .atividade1,
          .atividade2,
          .atividade3,
          .atividade4 {
            align-items: center;
            top: 654px;
            left: 172px;
            width: 270px;
            height: 40px;

            background: #189dbf 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 20px;
            opacity: 1;
            margin-bottom: 10px;
            h3 {
              text-align: left;

              font: normal normal normal 15px/20px Segoe UI;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              padding: 10px;
            }
          }
        }
      }

      .container-materiais {
        display: flex;
        justify-content: center;
        float: left;
        width: 290px;
        height: 280px;

        background: #f8f8f8 0% 0% no-repeat padding-box;
        border-radius: 20px;
        opacity: 1;

        margin-top: 50px;
        margin-right: 80px;
        h1 {
          text-align: left;
          font: normal normal normal 22px/30px Segoe UI;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;

          margin-top: -35px;
          margin-bottom: 15px;
        }
        .materiais-apoio {
          .materiais1,
          .materiais2,
          .materiais3,
          .materiais4 {
            align-items: center;
            top: 654px;
            left: 172px;
            width: 270px;
            height: 40px;

            background: #1fc4b3 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 20px;
            opacity: 1;
            margin-bottom: 10px;
            h3 {
              text-align: left;

              font: normal normal normal 15px/20px Segoe UI;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              padding: 10px;
            }
          }
        }
      }
      .container-aulas {
        display: flex;
        justify-content: center;
        float: left;
        width: 290px;
        height: 320px;

        background: #f8f8f8 0% 0% no-repeat padding-box;
        border-radius: 20px;
        opacity: 1;

        margin-top: 50px;
        margin-right: 80px;
        h1 {
          text-align: left;
          font: normal normal normal 22px/30px Segoe UI;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;

          margin-top: -35px;
          margin-bottom: 15px;
        }
        .aulas-anteriores {
          .aula1,
          .aula2,
          .aula3,
          .aula4,
          .aula5,
          .todas-disciplinas {
            align-items: center;
            top: 654px;
            left: 172px;
            width: 270px;
            height: 40px;

            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 20px;
            opacity: 1;
            margin-bottom: 10px;
            h3 {
              text-align: left;

              font: normal normal normal 15px/20px Segoe UI;
              letter-spacing: 0px;
              color: #707070;
              opacity: 1;
              padding: 10px;
              margin-left: 28px;
            }
            .play {
              position: absolute;
              width: 30px;
              height: 30px;
              opacity: 1;
              color: #189dbf;
              background: #189ebf56 0% 0% no-repeat padding-box;
              border-radius: 100%;
              padding: 2.5px;
              margin: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .Forum {
      h1 {
        text-align: left;
        font: normal normal normal 36px/48px Segoe UI;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;

        margin-top: 30px;
        margin-bottom: 10px;
      }
      .fazer-pergunta {
        form {
          input {
            display: flex;
            width: 1100px;
            height: 87px;

            background: #ebebeb 0% 0% no-repeat padding-box;
            opacity: 1;

            border-radius: 8px;
            padding: 0 10px 50px;
            border: 1px solid #e2e2e2;

            margin-bottom: 10px;

            box-shadow: 0px 12px 50px #1448820f;
            outline-style: none;
          }
        }
        .button {
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;

          float: right;
          margin-right: 100px;
          width: 171px;
          height: 43px;

          background: #189dbf 0% 0% no-repeat padding-box;
          border-radius: 20px;
          opacity: 1;

          text-align: left;
          font: normal normal normal 24px/32px Segoe UI;
          letter-spacing: 0px;
          color: #ffffff;

          padding: 15px;
          font-size: 16px;
          border: 0;
        }
      }
      .container-conversa {
        display: block;
        margin-top: 100px;
        width: 1100px;
        height: 550px;

        background: #ebebeb 0% 0% no-repeat padding-box;
        border-radius: 20px;
        opacity: 1;

        .pergunta-primaria {
          margin: 40px;
          margin-left: 50px;
          float: left;
          .avatar {
            img {
              width: 60px;
              height: 60px;
              margin-left: 10px;
            }
          }
          .pergunta {
            float: right;
            width: 800px;
            margin-left: 50px;
            .titulo {
              margin-top: -60px;
              text-align: left;
              font: normal normal 600 24px/32px Segoe UI;
              letter-spacing: 0px;
              color: #464646;
              opacity: 1;
            }
            .texto {
              text-align: justify;
              font: normal normal normal 20px/27px Segoe UI;
              letter-spacing: 0px;
              color: #464646;
              opacity: 1;
              margin-top: 5px;
            }
          }
        }
        .resposta-primaria {
          margin: 90px;
          .avatar {
            margin-left: -10px;
            img {
              width: 40px;
              height: 40px;
              margin-left: 20px;
              margin-bottom: 15px;
            }
            b {
              margin-left: -50px;
            }
          }
          .resposta {
            float: right;
            width: 800px;
            margin-left: 45px;
            margin-top: -70px;
            margin-right: 30px;
            .texto {
              text-align: justify;
              font: normal normal normal 20px/27px Segoe UI;
              letter-spacing: 0px;
              color: #464646;
              opacity: 1;
            }
          }
          .fazer-comentario {
            form {
              input {
                margin-top: 100px;
                display: flex;
                width: 900px;
                height: 87px;

                background: #dedede 0% 0% no-repeat padding-box;
                opacity: 1;

                border-radius: 8px;
                padding: 0 10px 50px;
                border: 1px solid #e2e2e2;

                margin-bottom: 10px;

                box-shadow: 0px 12px 50px #1448820f;
                outline-style: none;
              }
            }
            .button {
              display: flex;
              cursor: pointer;
              justify-content: center;
              align-items: center;

              float: right;
              margin-right: 20px;
              width: 171px;
              height: 43px;

              background: #189dbf 0% 0% no-repeat padding-box;
              border-radius: 20px;
              opacity: 1;

              text-align: left;
              font: normal normal normal 24px/32px Segoe UI;
              letter-spacing: 0px;
              color: #ffffff;

              padding: 15px;
              font-size: 16px;
              border: 0;
            }
          }
        }
      }
    }
  }
}
